@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi there!</h1>
    <p class="display-6">Desafio 1</p>
    <p>DES G03L</p>
    <p>Karen Rivas RR201098</p>
</div>
